@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: 'Questrial', sans-serif;
}

nav ul{
    list-style: none;
    padding: 10px;
    margin: 10px;
    margin-right: 40px;
    float: right;
    font-size: 20px;
}
nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 4px;
    padding: 10px 30px;
    margin-right: 10px;
}

nav a:hover {
    color: #ff5d5d;
}

#leftHeader {
    position: absolute;
    top: 100px;
    left: 5%;
    justify-content: center;
    padding: 10%;
}

.title {
    font-size: 60px;
}

.welcomeParagraph {
    font-size: 20px;
    margin-top: 25px;
}
.circularBtn {
    padding: 2% 8% 2% 8%;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 50px;
    letter-spacing: 1px;
    color: aliceblue;
    background: #4267ff;
    border-style: hidden;
}
.circularBtn:hover {
    font-size: 20px;
    background-color: #ff5d5d;
}

#rightHeader {
    position: absolute;
    top: 10%;
    right: 12%;

}
#rightHeader img{
    width: 730px;
    height: 700px;
}

